/*utilities*/
ul{
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.navbar{
    background-color: #fff;
    height: 80px;
    box-shadow: 5px 5px 5px #888888;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.container{
    max-width: 1100px;
    margin:0 auto;
    overflow: auto;
    padding: 0 40px;
}
.logo{
    color: #fff;
    margin: 10px;
    font-size: 30px;
}
.logo-logo{
    color: wheat;
}
.logo span{
    font-style: italic;
    color: deeppink;
    font-weight: bold;
}
.navbar ul {
    display: flex;
    gap: 10px;
    font-family: proxima;
    font-weight: Bold;
    font-size: 1.2rem;
}
.navbar ul .small-devices{
    display: none;

}

.navbar a {
    color: rgba(0,0,0,1);
    font-family: Roboto;
    font-weight: 500;
    /*text-decoration: none solid rgb(246,139,30);*/
    padding: 10px;
    margin:  0 5px;
    font-size: 1.2rem;
}
.navbar a:hover{
    /*border-bottom: 2px solid;*/
    color: red;
}
.navbar .flex{
    justify-content: space-between;
}

.flex{
    display: flex;
    /*height: 100vh;*/
    align-items: center;
}
.sub-menu{
    display: none;
}
.sub-menu-1{
    display: block;
    position: absolute;
    background:rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
    border-radius: 20px;
}

.sub-menu-1 ul{
    display: block;
    margin: 10px;

}
.sub-menu-1 ul li{
    width: 130px;
    padding: 10px;
    border-bottom: 1px dotted #ffff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
